@charset "utf-8";
/* common css ============================================== */
.floormap {
	float: left;
	margin-right: 30px;
	position: relative;
}
@media (max-width:1366px){
.floormap {
	margin-right: 15px;
}
}
.floormapcanvas {
	border: 2px solid rgba(0,0,0,0.35);
	
}

/*@media (max-width:1366px){
.floormapcanvas canvas {
	width: 940px;
	height: 940px;
}
}*/

/*@media (max-width:1366px){
.floormap-wrap{
	width: 1190px;
}
}*/

@media (max-width:1366px){
.floormapcanvas canvas {
	width: 820px;
	height: 820px;
}
}
@media (max-width:1366px){
.col-hs-1 {
	width: 100%;
}
}
/* floormap-wrap css ============================================== */
.floormap-wrap .col-hs-1 {
	padding-top: 10px;
}
.floormap-wrap .col-hs-1 .hr-18 {
	margin: 5px 0 25px;
}
@media (max-width:1366px) {
.projectChoice {
	width: 850px;
}
}
.projectChoice {
	padding-bottom: 5px;
}
.projectChoice dl {
	display: inline-block;
}
.projectChoice dd select, .projectChoice dd input {
	height: 32px;
	line-height: 32px;
	min-width: 150px;
}

/* zoomwrap css ============================================== */
.zoomwrap {
	right: 10px;
	margin-top: 9px;
	border: 1px solid #dbdbdb;
	position: absolute;
}
.zoomwrap a.narrow, .zoomwrap a.zoom {
	padding: 5px 10px;
	display: inline-block;
	font-size: 14px;
}
.zoomwrap a.narrow {
	border-right: 1px solid #dbdbdb;
}
.zoomwrap a.zoom {
	border-left: 1px solid #dbdbdb;
	margin-right: -1px;
}
.zoomwrap i {
	font-style: normal;
	padding: 12px;
}
.zoomwrap a:hover {
	background-color: #1fab82;
	color: #fff;
}

/* floormap css ============================================== */
.floormap ul {
	display: block;
}
.floormap ul li {
	float: left;
	height: 40px;
	line-height: 40px;
	background-color: #f0f0f0;
	margin-right: 10px;
	border-radius: 4px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;	
}
.floormap ul li a {
	padding: 0 40px;
}
.floormap ul li:hover{
	background-color: rgba(0,0,0,0.35);
}
.floormap ul li:hover a{
	color: #fff;
}
.floormap ul li.curr {
	background-color: rgba(0,0,0,0.35);
}
.floormap ul li.curr a {
	color: #fff;
	font-weight: bold;
}
@media (max-width:1366px){
.floormap-wrap .col-hs-1 {
	padding-left: 20px;
}
}

/* showArea css ============================================== */
@media (max-width:1920px){
.showArea {
	width: 240px;
}
}
@media (max-width:1680px){
.showArea {
	width: 200px;
}
}
@media (max-width:1366px){
.showArea {
	width: 190px;
	margin-right: -20px;
}
}
.showArea {
	margin-top: 40px;
	float: left;
}
.showArea dd {
	margin-bottom: 10px;
}
.storeinfo table {
	color: #555;
}
.storeinfo tr {
	display: table-row;
	vertical-align: inherit;
}
.storeinfo td {
	text-align: left;
	line-height: 18px;
	vertical-align: top;
	border-bottom: 1px dotted #e3e3e3;
	padding: 10px 0;
}
@media (max-width:1920px){
.storeinfo td{
	min-width: 60px;
}
}
@media (max-width:1366px){
.storeinfo td{
	min-width: 60px;
}
}
.screenType {
	float: left;
}
.screenType select {
	line-height: 32px;
	height: 32px;
	min-width: 130px;
}
.btnarea dd {
	float: none;
}
.btnarea .button {
	padding: 0;
	width: 130px;
}