@{ Layout = "~/Views/Shared/_Layout.cshtml";}
@model NHH.Models.Contract.RequestListModel

@{Html.RenderPartial("_PartialCrumbs", Model.CrumbInfo);}

<div class="page-content">
    <div class="page-content-area">
        <div class="page-header">
            <h1>意向查询</h1>
        </div><!-- /.page-header -->
        <div class="screen-area">
            <form>
                <dl class="list-screen">
                    <dt>选择项目：</dt>
                    <dd>
                        <select height="23px" id="CompanyType" name="CompanyType" width="60px">
                            <option value="">请选择</option>
                            <option value="1">投资公司</option>
                            <option value="2">业主公司</option>
                            <option value="3">管理公司</option>
                        </select>
                    </dd>
                </dl>
                <dl class="list-screen">
                    <dt>楼层：</dt>
                    <dd>
                        <select height="23px" id="CompanyType" name="CompanyType" width="60px">
                            <option value="">请选择</option>
                            <option value="1">投资公司</option>
                            <option value="2">业主公司</option>
                            <option value="3">管理公司</option>
                        </select>
                    </dd>
                </dl>
                <dl class="list-screen">
                    <dt>商铺编号：</dt>
                    <dd>
                        <input type="text" id="form-field-1" placeholder="Username">
                    </dd>
                </dl>
                <dl class="list-screen">
                    <dt>商户：</dt>
                    <dd>
                        <select height="23px" id="CompanyType" name="CompanyType" width="60px">
                            <option value="">请选择</option>
                            <option value="1">投资公司</option>
                            <option value="2">业主公司</option>
                            <option value="3">管理公司</option>
                        </select>
                    </dd>
                </dl>
                <dl class="list-screen">
                    <dt>提交时间：</dt>
                    <dd>
                        <select height="23px" id="CompanyType" name="CompanyType" width="60px">
                            <option value="">请选择</option>
                            <option value="1">投资公司</option>
                            <option value="2">业主公司</option>
                            <option value="3">管理公司</option>
                        </select>
                    </dd>
                </dl>
                <dl class="list-screen">
                    <dt>品牌：</dt>
                    <dd>
                        <select height="23px" id="CompanyType" name="CompanyType" width="60px">
                            <option value="">请选择</option>
                            <option value="1">投资公司</option>
                            <option value="2">业主公司</option>
                            <option value="3">管理公司</option>
                        </select>
                    </dd>
                </dl>
                <div class="result-btn">
                    <a class="btn btn-xs btn-success btn-font" id="lnkSearch" href="javascript:void(0);">查询</a>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="lighter mt30">
                            意向列表
                        </h4>
                        <div class="hr hr-18 hr-double dotted"></div>
                        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>意向ID</th>
                                    <th>商铺编号</th>
                                    <th>项目名称</th>
                                    <th>楼层</th>
                                    <th>计租面积</th>
                                    <th>意向租金</th>
                                    <th>租金</th>
                                    <th>商户</th>
                                    <th>品牌</th>
                                    <th>提交时间</th>
                                    <th>提交人</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="pagination pull-right no-margin">
                            <li class="prev disabled">
                                <a href="#">
                                    上一页
                                </a>
                            </li>

                            <li class="active">
                                <a href="#">1</a>
                            </li>

                            <li>
                                <a href="#">2</a>
                            </li>

                            <li>
                                <a href="#">3</a>
                            </li>

                            <li class="next">
                                <a href="#">
                                    下一页
                                </a>
                            </li>
                        </ul>
                    </div><!-- /.span -->
                </div><!-- /.row -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content-area -->
</div>
