<?xml version="1.0" encoding="utf-8"?>
<OperationLogConfig>
  <entity name="Brand" alias="品牌" key="BrandID">
    <column name="BrandName" alias="名称"/>
    <column name="BrandLevel" alias="级次"/>
    <column name="BizTypeID" alias="业态"/>
    <column name="BizCategoryID" alias="品类"/>
  </entity>
  <entity name="Company" alias="公司" key="CompanyID">
    <column name="BriefName" alias="简称"/>
    <column name="CompanyName" alias="名称"/>
    <column name="CompanyType" alias="类型"/>
    <column name="OwnerCompanyID" alias="母公司"/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Department" alias="部门" key="DepartmentID">
    <column name="DepartmentName" alias="名称"/>
    <column name="Phone" alias="电话"/>
    <column name="ManagerID" alias="主管"/>
    <column name="CompanyID" alias="公司"/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Employee" alias="员工" key="EmployeeID">
    <column name="EmployeeName" alias="姓名"/>
    <column name="Title" alias="职务"/>
    <column name="Email" alias="邮箱"/>
    <column name="Moblie" alias="手机"/>
    <column name="Phone" alias="电话"/>
    <column name="SupervisorID" alias="主管"/>
    <column name="DepartmentID" alias="部门"/>
    <column name="CompanyID" alias="公司"/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Sys_User" alias="系统用户" key="UserID">
  </entity>
  <entity name="Sys_Role" alias="系统角色" key="RoleID">
  </entity>
  <entity name="Sys_Function" alias="系统功能" key="FunctionID">
  </entity>
  <entity name="Sys_Menu" alias="系统菜单" key="MenuID">
  </entity>
  <entity name="Project" alias="项目" key="ProjectID">
  </entity>
  <entity name="Project_Building" alias="楼宇" key="BuildingID">
  </entity>
  <entity name="Project_Floor" alias="楼层" key="FloorID">
  </entity>
  <entity name="Project_Unit" alias="商铺" key="UnitID">
  </entity>
  <entity name="Merchant" alias="商户" key="MerchantID">
  </entity>
  <entity name="Contract" alias="租约" key="ContractID">
  </entity>
  <entity name="Complaint" alias="投诉单" key="ComplaintID">
  </entity>
  <entity name="Repair" alias="维修单" key="RepairID">
  </entity>
</OperationLogConfig>
