<?xml version="1.0" encoding="utf-8"?>
<ParamConfig>
  <!--日志数据库连接-->
  <param name="logging:database">NHHLog</param>
  <!--系统日志功能是否启用，默认TRUE-->
  <param name="logging:app_enabled">true</param>
  <param name="logging:app_level">debug</param>
  <!--操作日志功能是否启用，默认TRUE-->
  <param name="logging:opt_enabled">true</param>
  <!--接口日志功能是否启用，默认TRUE-->
  <param name="logging:api_enabled">true</param>
  
  <!--用户验证方式，None、NHH、Froms-->
  <param name="auth:type">NHH</param>
  <!--是否启用用户功能权限验证-->
  <param name="auth:enabled">false</param>
  <!--网站默认页面-->
  <param name="website:default">/project</param>
  <!--图片服务器站点-->
  <param name="ImageSite">http://file.st.nhhims.com/</param>
</ParamConfig>
