<?xml version="1.0" encoding="utf-8"?>
<ServiceConfig>

  <!--公共服务-->
  <service name="CommonService" service="NHH.Service.Common.IService.ICommonService,NHH.Service.Common" class="NHH.Service.Common.CommonService,NHH.Service.Common"/>
  <service name="WorkflowService" service="NHH.Service.Common.IService.IWorkflowService,NHH.Service.Common" class="NHH.Service.Common.WorkflowService,NHH.Service.Common"/>
  
  <!--项目管理服务-->
  <service name="ProjectInfoService" service="NHH.Service.Project.IService.IProjectInfoService,NHH.Service.Project" class="NHH.Service.Project.ProjectInfoService,NHH.Service.Project"/>
  <service name="ProjectUnitService" service="NHH.Service.Project.IService.IProjectUnitService,NHH.Service.Project" class="NHH.Service.Project.ProjectUnitService,NHH.Service.Project"/>
  
  <!--商户管理服务-->
  <service name="MerchantService" service="NHH.Service.Merchant.IService.IMerchantService,NHH.Service.Merchant" class="NHH.Service.Merchant.MerchantService,NHH.Service.Merchant"/>
  <service name="MerchantUserService" service="NHH.Service.Merchant.IService.IMerchantUserService,NHH.Service.Merchant" class="NHH.Service.Merchant.MerchantUserService,NHH.Service.Merchant"/>
  <service name="AttachmentService" service="NHH.Service.Merchant.IService.IAttachmentService,NHH.Service.Merchant" class="NHH.Service.Merchant.AttachmentService,NHH.Service.Merchant"/>
  
  <!--合同管理服务-->
  <service name="ContractService.ContractInfoService" service="NHH.Service.Contract.IService.IContractInfoService,NHH.Service.Contract" class="NHH.Service.Contract.ContractInfoService,NHH.Service.Contract"/>
  
  <!--物业管理服务-->
  <service name="RepairService" service="NHH.Service.Estate.IService.IRepairService,NHH.Service.Estate" class="NHH.Service.Estate.RepairService,NHH.Service.Estate"/>
  <service name="ComplaintService" service="NHH.Service.Estate.IService.IComplaintService,NHH.Service.Estate" class="NHH.Service.Estate.ComplaintService,NHH.Service.Estate"/>
 
  <!--商户店铺管理服务-->
  <service name="MerchantStoreService" service="NHH.Service.Store.IService.IMerchantStoreService,NHH.Service.Store" class="NHH.Service.Store.MerchantStoreService,NHH.Service.Store"/>
  
  <!--活动策划管理服务-->
  <service name="MerchantStoreService" service="NHH.Service.Campaign.IService.ICampaignInfoService,NHH.Service.Campaign" class="NHH.Service.Campaign.CampaignInfoService,NHH.Service.Campaign"/>

  <!--入驻意向管理服务-->
  <service name="IntentionService" service="NHH.Service.Operations.IService.IIntentionService,NHH.Service.Operations" class="NHH.Service.Operations.IntentionService,NHH.Service.Operations"/>
  <!--新闻服务-->
  <service name="NewsService" service="NHH.Service.Operations.IService.INewsService,NHH.Service.Operations" class="NHH.Service.Operations.NewsService,NHH.Service.Operations"/>
  <!--商户特殊单据管理服务-->
  <service name="DocumentService" service="NHH.Service.Documents.IService.IDocumentService,NHH.Service.Documents" class="NHH.Service.Documents.DocumentService,NHH.Service.Documents"/>

  <service name="ComplaintService" service="NHH.Service.Operations.IService.IComplaintService,NHH.Service.Operations" class="NHH.Service.Operations.ComplaintService,NHH.Service.Operations"/>
</ServiceConfig>
