<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <!--服务器-->
      <add key="MailServer" value="smtp.163.com" />
      <!--邮箱-->
      <add key="MailId" value="demonpark@163.com" />
      <!--密码-->
      <add key="MailPwd" value="lwd70248" />
      <!--每次发几条-->
      <add key="MessageNumber" value="15" />
    </appSettings>
    <connectionStrings>
      <add name="NHHConn" connectionString="Data Source=192.168.1.107;Initial Catalog=NHH;Persist Security Info=True;User ID=nhh;Password=nhh@123" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>