<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Interval" value="10" />
    <!--服务器-->
    <add key="MailServer" value="smtp.163.com" />
    <!--邮箱-->
    <add key="MailId" value="nhhims@nhhchina.com" />
    <!--密码-->
    <add key="MailPwd" value="nhhims@123" />
    <!--每次发几条-->
    <add key="MessageNumber" value="15" />
    <!--获取tocken的api-->
    <add key="wechat_api_url" value="https://api.weixin.qq.com/cgi-bin/"/>
    <!--appid-->
    <add key="wechat_appid" value="wx610cefd9f891d872"/>
    <!--appSecret-->
    <add key="wechat_secret" value="5d83b2392cafbc0b5bc8a8c0f2f77f64"/>
    <!--获取用户的api-->
    <add key="wechat_api_getUser_url" value="https://api.weixin.qq.com/cgi-bin/user/get"/>
  </appSettings>
  <connectionStrings>
    <add name="NhhConnStr" connectionString="Data Source=192.168.1.107;Initial Catalog=NHH;Persist Security Info=True;User ID=nhh;Password=nhh@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>