
<form class="form-horizontal" novalidate="novalidate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">×</span>
                    </button>
                    搁置
                </div>
            </div>
            <div class="modal-body no-padding nothing">
                <div class="popWinStyle">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">请选择搁置原因： </label>
                        @Html.DropDownList("ShelveReason", ViewData["ShelveReasonList"] as SelectList, new { @class = "col-xs-10 col-sm-5" })
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">备注： </label>
                        @Html.TextArea("Remarks", null, 5, 5, new { @class = "col-xs-10 col-sm-5", @placeHolder = "您还可以在此添加其他备注信息" })
                    </div>
                </div>
            </div>
            <div class="ui-btngroup">
                <a href="javascript:void(0)" class="btn btn-xs btn-success btn-font  btnShelve">保存</a>
                <a href="javascript:void(0)" class="btn btn-xs btn-font btn-cancel" data-dismiss="modal" aria-hidden="true">取消</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</form>
<script type="text/javascript">
    $(function () {
        ///保存搁置
        $(".btnShelve").click(function () {
            var assignInfo = {};
            assignInfo.ComplaintId = $("#HiddComplaintId").val();
            assignInfo.ShelveReason = $("#ShelveReason").find("option:selected").text();
            assignInfo.Remarks = $("#Remarks").val();
            assignInfo.RequestSrcType = $("#HiddRequestSrcType").val();
            assignInfo.RequestUserId = $("#HiddRequestUserId").val();
            assignInfo.RequestTime = $("#RequestTime").text().trim();
            assignInfo.Location = $("#ProjectName").text().trim();
            $.ajax({
                url: "@Url.Action("Shelve", "Complaint", new { area = "Estate" }, null)",
                type: "POST",
                data: assignInfo,
                dataType: "JSON",
                cache: false,
                success: function (result, status) {
                    if (result.IsSuccess) {
                        var url = "@Url.Action("Detail", "Complaint", new { area="Estate"},null)";
                        url += "?complaintId=" + assignInfo.ComplaintId;
                        location.href = url;
                    } else {
                        alert(result.Message);
                    }
                }
            });
        });

    });
</script>