<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="NHHEntities" connectionString="metadata=res://*/NHH.csdl|res://*/NHH.ssdl|res://*/NHH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db01;initial catalog=NHH;persist security info=True;user id=nhh;password=nhh@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NhhConnStr" connectionString="Data Source=db01;Initial Catalog=NHH;Persist Security Info=True;User ID=nhh;Password=nhh@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--公共配置-->
    <add key="ImageSite" value="http://file.st.nhhims.com/" />
    <!--短信配置-->
    <add key="SmsUrl" value="http://gw.api.taobao.com/router/rest" />
    <add key="SmsKey" value="23278316" />
    <add key="SmsSecret" value="65944d2762df4779eff6184bd5b72bc4" />
    <!--邮件JOB配置-->
    <add key="MailServer" value="smtp.qiye.163.com" />
    <add key="MailFrom" value="nhhims@nhhchina.com" />
    <add key="MailPwd" value="nhhims@123" />
    <add key="MessageNumber" value="15" />
    <!--微信JOB配置-->
    <add key="wechat_api_url" value="https://api.weixin.qq.com/cgi-bin/" />
    <add key="wechat_file_url" value="http://file.api.weixin.qq.com/cgi-bin/" />
    <add key="wechat_appid" value="wx610cefd9f891d872" />
    <add key="wechat_secret" value="5d83b2392cafbc0b5bc8a8c0f2f77f64" />
    <add key="wechat_api_getUser_url" value="https://api.weixin.qq.com/cgi-bin/user/get" />
    <!--企划JOB配置-->
    <add key="CampaignDetailLink" value="http://h5.st.nhhtang.com/planning/{0}" />
    <add key="CampaignTemplateId" value="ayHEDtu1PlMbqq5M39YzZUW6cQdggs9eVZycWxeCwb0" />
    <!--维修JOB配置-->
    <add key="RepairRepeat" value="5" />
    <add key="RepairLink" value="/Estate/Repair/Detail?repairId={0}" />
    <!--投诉JOB配置-->
    <add key="ComplaintRepeat" value="5" />
    <add key="ComplaintLink" value="/Estate/Complaint/Detail?complaintId={0}" />
    <!--商户证照有效期JOB配置-->
    <add key="MerchantLicenseTemplateId" value="MlVXzuP6vLPk-b_XhV0AADbXFF84No7rsEp6re7VxQw" />
    <add key="MerchantLicenseLink" value="http://h5.st.nhhtang.com/attch?_t=1451271007034" />
    <!--商户合同到期提醒-->
    <add key="MerchantContractTemplateId" value="W0wuVYTSexFHyNyY1gaAOgbLRdcM_j3ZGqtWeAAml_s" />
    <add key="MerchantContractLink" value="http://h5.st.nhhtang.com/my/contracts/{0}" />
    <add key="MerchantContractRemindRoleIDs" value="110,111,112" />
    <!--基他配置-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.14.0" newVersion="1.2.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>