@charset "utf-8";
/* CSS Document */
/**
	Common Popup Window & Mask Overlay Style
*/
#overlay, #overlay_transparent {
	display:none;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#000;
	z-index:999;
	overflow:hidden;
	_position:absolute;
	_width:0;
	_height:0;
	_top:expression(documentElement.scrollTop);
	_left:expression(documentElement.scrollLeft);
}
#overlay_transparent,
#overlay.overlay_transparent {
	background:transparent url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
}
.popWin {
	display:none;
	position:absolute;
	z-index:1000;
	background-color:#fff;
}
.popWin .close {
	position:absolute;
	right:22px;
	top:20px;
	height:18px;
	width:18px;
	overflow:hidden;
	display:block;
	text-indent:-20000px;	
	background:url(../Nest/img/sprite.png) -6px -255px;
	z-index:2;
}
.popWin .close:hover {
	background-position: -6px -255px;
}
.popWinBody {
	border: 5px solid #171414;
}

/* blankShowmsg Just to Show Overlay */
.blankShowmsg { height:0; width:0; margin:0; padding:0; background-color:none; filter:none; overflow:hidden;}

/* AlertBox & ConfirmBox */
/*.AlertBox{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:375px; position:absolute; top:-100%; left:50%; margin-left:-187px; z-index:1000; display:none; -webkit-box-shadow:2px 2px 3px rgba(0,0,0,.2); -moz-box-shadow:2px 2px 3px rgba(0,0,0,.2); -ms-box-shadow:2px 2px 3px rgba(0,0,0,.2); -o-box-shadow:2px 2px 3px rgba(0,0,0,.2); box-shadow:2px 2px 3px rgba(0,0,0,.2);}
.AlertBox .iframe{display:none;_display:block;position:absolute; left:0px; top:0px; z-index:-1;}
.AlertBox .iframe iframe{background-color:transparent;filter:alpha(opacity=0);}
.AlertBox .Alert_title{height:45px;padding:0;line-height:45px;font-size:20px;font-weight:normal;color:#fff;text-indent:35px; font-family:"microsoft yahei",arial; position:relative; background:url(../Nest/img/bg_popwin_global.png) 0 0 repeat-x; zoom:1; z-index:2;}
.AlertBox .Alert_close{ display:block!important; height:0; width:17px; padding-top:17px;line-height:22px; position:absolute; right:14px; top:16px; color:#fff; text-decoration:none; background:url(../Nest/img/popwin_close.png) 0 0 no-repeat; overflow:hidden; zoom:1;}
.AlertBox .Alert_info{padding:20px;border:1px solid #d8d8d8; background-color:#fff; border-top:none;text-align:left;}
.AlertBox .Alert_info .msg_txt {color:#333;}
*/

.AlertBox{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:375px; position:absolute; top:-100%; left:50%; margin-left:-187px; z-index:1000; display:none; background:#fff;border:1px solid #d8d8d8;-webkit-box-shadow:2px 2px 3px rgba(0,0,0,.2); -moz-box-shadow:2px 2px 3px rgba(0,0,0,.2); -ms-box-shadow:2px 2px 3px rgba(0,0,0,.2); -o-box-shadow:2px 2px 3px rgba(0,0,0,.2); box-shadow:2px 2px 3px rgba(0,0,0,.2);}
.AlertBox .iframe{display:none;_display:block;position:absolute; left:0px; top:0px; z-index:-1;}
.AlertBox .iframe iframe{background-color:transparent;filter:alpha(opacity=0);}
.AlertBox .Alert_info{padding:20px; background-color:#fff;text-align:left; /*background:url(../Nest/img/bg_popwin_body.png) 0 bottom no-repeat;*/}
.AlertBox .Alert_info .msg_txt {margin-bottom:30px;color:#666;font-family:"microsoft yahei",SimHei,Arial;font-size:14px;}
.AlertBox .Alert_title{
	margin:10px 20px;
	height:0;
	line-height:0;
	font-family:"microsoft yahei",SimHei,Arial;
	color:#666;
	font-size:0;
	border-bottom:0 none #E52240;
	font-weight:normal;
	z-index:2;
	zoom:1;
	background:#fff;
}
.AlertBox .Alert_close {
	position:absolute;
	right:15px;
	top:15px;
	height:18px;
	width:18px;
	overflow:hidden;
	display:block;
	text-indent:-20000px;	
	background:url(../Nest/img/sprite.png) -6px -255px;
	z-index:2;
}
.AlertBox .Alert_close:hover {
	background-position:-6px -255px;
}
.AlertBox .btns {
	border-radius:0px!important;
	display:block;
	box-shadow:none!important;
	padding:0;
	color:inherit;	
	text-decoration:inherit;
}
.AlertBox .btns:hover{ 
	color:inherit;
	cursor:inherit;
	text-decoration:inherit;
}
.popWin .btn-primary,
.popWin .btn-secondary,
.AlertBox .btns .btn {
	border-radius: 0;
	color: #fff;
	display: inline-block;
	text-align: center;
	text-decoration:none;
	padding:6px 20px;
	background:none;
	height:auto;
}
.AlertBox .btns .btn span {
	height:auto;
	background:none;
	padding:0;
	line-height:18px;
}
.popWin .btn-primary,
.AlertBox .btns .btn0{
	background:#f60;
	border: 1px solid #f60;
	margin-right:10px;
}
.popWin .btn-primary:hover,
.AlertBox .btns .btn0:hover{
	background: #e7691e;
	border-color: #e7691e;
}
.popWin .btn-secondary,
.AlertBox .btns .btn1{
	color:#333;
	border: 1px solid #ccc;
	background-color:#fff;
}
.popWin .btn-secondary:hover,
.AlertBox .btns .btn1:hover{
	color:#333;
	background-color:#fff; 
	border: 1px solid #ddd;
}

/* Loading Mask */
#bggray{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:transparent url(../Nest/img/bg_gray.png) repeat;
	_background: #000 url(base64:*.gif) no-repeat;
	_filter:alpha(opacity = 60);
	display:none;
	z-index: 999;
}
/* Transparent overlay for Ajax loading */
.LoadingMask { float:none; position:absolute; top:0;left:0; width:100%; background:rgba(0,0,0,.5); background-color: #000\9; background-image:url(base64:*.gif)\9;	filter:alpha(opacity = 50); z-index:999;}
/* loading progress */
.cmnLoadA { position: fixed; left: 50%; top:50%; margin:-20px 0 0 -20px; height: 40px; width: 40px; display: none; overflow: hidden; background: transparent; z-index: 1000; _position:absolute; _top:expression(document.documentElement.scrollTop+(parseInt(document.documentElement.clientHeight/2))+"px");}
.cmnLoadA div { position: absolute; top: 0; left: 0; width: 40px; height: 480px; background: transparent url(../Nest/img/loading_progress.png) no-repeat;/* _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true", sizingMethod="image", src="themes/default/Nest/img/loaing_progress.png"); _background:none;*/}
/* PopWin in some pages */
.popWin_w342 { display:block; top:-1000px; width:342px;}
.popWin_w342 .skin_t,
.popWin_w342 .skin_b,
.popWin_w342 .body {
	background-image:url(../Nest/img/bg_popwin_342.png);
}
.popWin_w342 .skin_t {
	height:20px;
	background-position:0 0;
	overflow:hidden;
}
.popWin_w342 .skin_b {
	height:20px;
	background-position:0 bottom;
	overflow:hidden;
}
.popWin_w342 .body {
	background-position:-342px 0;
	background-repeat:repeat-y;
}
.popWin_w342 .tit {
	color:#555;
	font-family:microsoft yahei;
}
.popWin_w342 .tit .icon_succ {
	margin-left:-19px;
	margin-right:3px;
	vertical-align:middle;
}

/* Center Pop Window A */
.centerPopA {
	display: none;

	position: absolute;

	top: 0;
	left: 0;
	background: #FFF;
	border: 3px solid #2f2e2d;
	width: 500px;
	z-index: 1000;
}
.centerPopA .centerPopT {
	height: 0;
	position:relative;
}
.centerPopA .centerPopT h6 {
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	margin:0;
	float: left;
	color: #484848;
	display:none;
}
.centerPopA h3{
	height:30px;
	background:#000;
	color:#fff;
	line-height:30px;	
}
.centerPopA .centerPopT .close {
	display:block;
	position:absolute;
	width:33px;
	height:34px;
	background:url(../Nest/img/closebox.png) no-repeat;
	right:-16px;
	top:-16px;
}
.centerPopA .centerPopT .shuter:hover {
	background-position: 0 -690px;
}
.centerPopA .centerPopBody {
	padding: 10px;
}

/* centerPopB */
.centerPopB {
	display: none;
	position:absolute;
	top:-100%;
	left:50%;
	z-index:1000;
	background:none;
}
.centerPopB .centerPopBody {
	position:relative;
}
.centerPopB .bg{
	background:#000;
	_width:expression(this.parentNode.offsetWidth);
	_height:expression(this.parentNode.offsetHeight);
	position:absolute;
	left:8px;
	top:8px;
	right:-8px;
	bottom:-8px;
	opacity:.1;
	filter:alpha(opacity=10);
	-moz-opacity:.1;
	-webkit-opacity:.1;
}
.centerPopBody iframe { 
	border:none;
}
.centerPopC{
	border:0;
	box-shadow:0 0 5px #000;	
}
.centerPopC .contentText{
	font-size:14px;
	color:#222;	
}
.centerPopD{
	padding:10px;
	background:#fff;
	background-color:rgba(255,255,255,0.7);
	background-color:transparent\9;
	background-image:url(../Nest/img/bg_opacity_70.png)\9;
	border:0;
	width:600px;
}
.centerPopD .centerPopBody{
	padding:10px 0 ;	
}
.centerPopD h3{
	background:none;
	border-bottom:1px #666 solid;
	height:28px;	
}
.centerPopD .inner{
	background:#fff;
	padding:10px 23px;
}

.centerPopD .centerPopT .close{
	right:-39px;
	top:-26px;	
}

.centerPopE {
	position: absolute;
	top: 0;
	left: 0;
	background: #FFF;
	border: 5px solid #171414;
	width: 468px;
	z-index: 1000;
}
.centerPopE h3 {
	height:46px;
	line-height:46px;
	font-family:"microsoft yahei",Arial;
	color:#666;
	font-size:20px;
	border-bottom:2px solid #f60;
	font-weight:normal;
}
.centerPopE .close {
	position:absolute;
	display:block;
	width:18px;
	height:18px;
	top:20px;
	right:22px;
	text-indent:-500px;
	overflow:hidden;
	background:url(../Nest/img/sprite.png) repeat scroll -6px -255px transparent;
}
.centerPopE .close:hover {
	background-position:-6px -255px;
}
.centerPopE .centerPopT{
	margin:10px 27px;
}
.centerPopE .centerPopBody {
	padding:10px 27px;
}
.centerPopE .centerPopBodyB {
	padding:0 27px 10px 27px;
}
.centerPopE .centerPopBodyB .inner{
	border:1px solid #eee
}



.checkphone .formsub{
	padding:20px 20px 15px;
}
.checkphone .formsub li {
	min-height:40px;
	_height:40px;
	padding-left:80px;
	padding-bottom:7px;
}
.checkphone .formsub .label{
	width:85px;
	margin-left:-90px;
	position:absolute;
	white-space:nowrap;
	text-align:right;
	*padding-top:1px;
	_padding-top:3px;
	color:#666;
	font-family:"microsoft yahei",Arial;
}
.checkphone .formsub .intxt{
	height:20px;
	width:225px;
	vertical-align:middle;
}
.checkphone .formsub .intxtfocus {
	border-color:#999!important;
}
.checkphone .btn_check{
	width:130px;
	height:38px;
	background:url(../Nest/img/account_check_btn.png) 0 0 no-repeat;
}
.checkphone .btn_check:hover{
	background-position:0 -41px;
}
.checkphone .Validform_checktip{
	margin-left:0;
	font-style:normal;
	vertical-align:middle;
	background-position:0 1px\9;
	_background-position:0 center;
}
.checkphone .refresh_validCode {
	color:#999;
	font-family:"microsoft yahei",Arial;
}
.checkphone .refresh_validCode:hover {
	color:#237ac3;
}
.checkphone .loading{
	display:inline-block;
	height:35px;
	line-height:34px;
	background:url(../Nest/img/onLoad.gif) left center no-repeat;	
	border:0;	
	padding:0 0 0 20px;
	text-indent:0;
	border-radius:0;
	vertical-align:middle;
	background-position:0 40%\9;
	_background-position:0 center;
}
.checkphone .validCode{
	vertical-align:middle;	
}
.checkphone .cmnTip {
	background:#FFF4D3;
    border: 1px solid #FFCEAE;
    color: #FF6801;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 2px 10px 4px;
	line-height:20px;
}
.checkphone .tipReget span{
	cursor:default;
}


.checkemail .formsub{
	padding:20px 20px 15px;
}
.checkemail .formsub li {
	min-height:40px;
	_height:40px;
	padding-left:90px;
	padding-bottom:7px;
}
.checkemail .formsub .label{
	width:100px;
	margin-left:-105px;
	position:absolute;
	white-space:nowrap;
	font-size:14px;
	*padding-top:1px;
	_padding-top:3px;
	text-align:right;
	color:#666;
	font-family:"microsoft yahei",Arial;
}
.checkemail .formsub .intxt{
	height:20px;
	width:225px;
	vertical-align:middle;
}
.checkemail .formsub .intxtfocus {
	border-color:#999!important;
}
.checkemail .btn_checkemail {
	width:130px;
	height:38px;
	background:url(../Nest/img/account_check_btn.png) 0 -81px no-repeat;
}
.checkemail .btn_checkemail:hover{
	background-position:0 -122px;
}
.checkemail .Validform_checktip{
	margin-left:0;
	font-style:normal;
	vertical-align:middle;
	background-position:0 1px\9;
	_background-position:0 center;
}
.checkemail .refresh_validCode {
	color:#999;
	font-family:"microsoft yahei",SimHei,Arial;
}
.checkemail .refresh_validCode:hover {
	color:#237ac3;
}
.checkemail .loading{
	display:inline-block;
	height:35px;
	line-height:34px;
	background:url(../Nest/img/onLoad.gif) left center no-repeat;	
	border:0;	
	padding:0 0 0 20px;
	text-indent:0;
	border-radius:0;
	vertical-align:middle;
	background-position:0 40%\9;
	_background-position:0 center;
}
.checkemail .validCode{
	vertical-align:middle;	
}

.popVerifySuc{
	padding:10px 20px 5px 100px;
	color: #666;
    font-size: 14px;
	font-family:"microsoft yahei",SimHei,Arial;
    line-height: 24px;
	background:url(../Nest/img/icon_success.png) 30px 15px no-repeat;
}
.popVerifySuc p {
	margin-bottom:10px;
}
.popVerifySuc .btnline {
	padding:15px 80px 5px 0;
	text-align:center;
}
.popVerifySuc .btnline .btns {
	margin-right:0;
}

.popWin-acceptance {
	width: 520px;
}
.acceptance-form .form-hd {
	font-size: 16px;	
}
.acceptance-form .form-line {
	padding-left: 100px;
}
.acceptance-form .form-line .label {
	display: inline-block!important;
	color: #333!important;
}
.acceptance-form .select-time {
	width: 150px!important;
}
.acceptance-form .tip-msg {
	padding-left: 18px;
	color: #a9a9a9;
}
.acceptance-form .tip-msg .icon-info {
	position: absolute;
	width: 16px;
	height: 16px;
	margin-left: -18px;
	background: url(../Nest/img/acont_sprite.png) -10px -312px no-repeat;
}
.popWin-deco-winner {
	width: 520px;
}
.deco-winner-form .form-hd {
	font-size: 16px;
	font-weight: bold;
	color: #f60;	
}
.deco-winner-form .form-line {
	padding-left: 80px;
	padding-bottom: 15px!important;
}
.deco-winner-form .form-line .label {
	display: inline-block!important;
	color: #333!important;
	width: 65px;
	text-align: right;
}
.deco-winner-form .form-line .intxt {
	width: 135px!important;
}
.deco-winner-form .radio-line {
	padding-left: 40px;
}
.deco-winner-form .radio-line .form-item {
	padding: 0 0 10px;
}
.deco-winner-form .radio-line label {
	color: #333;
}
.deco-winner-form .radio-line input {
	margin-right: 6px;
	vertical-align: middle;
	margin-bottom: 2px;
}
.deco-winner-form .form-line .intxt-l {
	width: 185px!important;
}
.deco-winner-form .btn-line {
	padding-bottom: 0!important;
}
.deco-winner-form .btn-choose-file {
	display: inline-block;
	background-color: #f7f7f7;
	padding: 0 20px;
	color: #666;
	height: 34px;
	line-height: 34px;
	vertical-align: top;
	*margin-top:1px;
	margin-left: 5px;
	border: 1px solid #d8d8d8;
}

/* Popwin: popWin-reserv-visit */
.popWin-reserv-visit {
	width: 480px;
}
.popWin-reserv-visit .reserv-visit-form {
	padding:20px;
	background-color: #fff;
}
.popWin-reserv-visit .reserv-visit-form .form-hd {
	margin-top: -8px;
	padding-bottom: 30px;
	font-size: 16px;
	line-height: 1.8;
	color: #666;
}
.popWin-reserv-visit .reserv-visit-form .form-line {
	position: relative;
	padding-bottom: 10px;
	padding-left: 40px;
	*vertical-align: top;
}
.popWin-reserv-visit .reserv-visit-form .btn-line {
	padding-bottom: 0;
}
.popWin-reserv-visit .reserv-visit-form .form-item {
	position: relative;
	padding-left: 95px;
	_zoom:1;
}
.popWin-reserv-visit .reserv-visit-form .form-line .label {
	display: block;
	position: absolute;
    color: #333;
    cursor: text;
	text-align: right;
	width: 73px;
	left: 10px;
    top: 8px;
}
.ie6 .popWin-reserv-visit .reserv-visit-form .label {
	zoom:expression(this.runtimeStyle.zoom="1",this.parentNode.insertBefore(document.createElement("div"),this.nextSibling));
}
.popWin-reserv-visit .reserv-visit-form .unit {
	display: inline-block;
	background-color: #fff;
	line-height: 34px;
	height: 34px;
	padding: 0 10px;
	vertical-align: top;
}
@media screen and (-webkit-min-device-pixel-ratio: 0 ){
.popWin-reserv-visit .reserv-visit-form .unit sup {
	position:relative;
	top: -50%;
}
}
.popWin-reserv-visit .reserv-visit-form .form-line .intxt {
	border: 1px solid #d8d8d8;
    height: 18px;
    line-height: 18px;
    padding: 8px 10px;
    width: 178px;
}
.popWin-reserv-visit .reserv-visit-form .form-line .intxt-s {
	width: 63px;
}
.popWin-reserv-visit .form-line .btn-getVerifyCode{	
	background-color: #f4f4f4;
	display: inline-block;
	border: 1px solid #ddd;
	color: #333;
	height: 34px;
	line-height: 34px;
	padding: 0;
	width: 113px;
	text-align:center;
	vertical-align:top;
}
.popWin-reserv-visit .form-line .btn-getVerifyCode:hover {
	text-decoration: none;
}
.popWin-reserv-visit .reserv-visit-form .form-line .select {
	border-color: #d8d8d8;
	width: 198px;
}
.popWin-reserv-visit .reserv-visit-form .form-line .select dt {
	height: 34px;
	line-height: 34px;
	background-position: right center;
}
.popWin-reserv-visit .reserv-visit-form .form-line .select dt a{
	height: 32px;
	line-height: 32px;
	padding-left: 9px;
	color: #666;
}
.popWin-reserv-visit .reserv-visit-form .form-line .select dd {
	top: 34px;
}
.popWin-reserv-visit .reserv-visit-form .btn-submit {
    background-color: #F25618;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: "Microsoft YaHei","Microsoft JhengHei",STHeiti,MingLiu;
    font-size: 14px;
    height: 44px;
	line-height: 44px;
    text-align: center;
    width:133px;
}
.popWin-reserv-visit .reserv-visit-form .btn-submit:hover {
    background-color: #E7691E;
	text-decoration: none;
	color: #fff;
}
.popWin-reserv-visit .popWin-reserv-visit .notify-box {
	padding: 30px 0 60px 150px;
}

/* Pop Win for all Success message */
.popWin-success {
	width: 480px;
}
.popWin-success-bd {
	padding:20px;
	background-color: #fff;
}
.popWin-success-bd .win-hd {
	margin-top: -8px;
	padding-bottom: 30px;
	font-size: 16px;
	line-height: 1.8;
	color: #666;
}
.popWin-success .notify-box {
	position: relative;
	min-height: 60px;
	_height: 60px;
	padding: 30px 0 60px 150px;
}
.popWin-success .notify-box .icon-tick {
	position: absolute;
	display: block;
	margin-left: -78px;
	width: 60px;
	height: 60px;
	background: url(../Nest/img/sprite_icons_status.png) 0 0 no-repeat;
}
.popWin-success .notify-box h3 {
	font-size: 22px;
	font-weight: normal;
	color: #333;
}
.popWin-success .notify-box p {
	color: #999;
}

.popWin-req {
	width: 480px;
}
.popWin-req .req-bd .form-hd {
    color: #666;
    font-size: 16px;
    line-height: 1.8;
    margin-top: -8px;
    padding-bottom: 30px;
}
.popWin-req .req-bd {
	padding: 20px;
	background: #fff;
}
.popWin-req .req-bd .form-hd {
	padding-bottom: 10px;
}
.popWin-req .req-bd .form-line {
	position: relative;
	padding-bottom: 12px;
	*vertical-align: top;
}

.popWin-req .req-bd .form-item {
	position: relative;
	padding-left: 95px;
	_zoom:1;
}
.popWin-req .req-bd .form-line .label {
	display: block;
	position: absolute;
    color: #333;
    cursor: text;
	text-align: right;
	width: 73px;
	left: 10px;
    top: 8px;
}
.ie6 .popWin-req .req-bd .label {
	zoom:expression(this.runtimeStyle.zoom="1",this.parentNode.insertBefore(document.createElement("div"),this.nextSibling));
}
.popWin-req .req-bd .btn-line {
	padding-top: 10px;
	padding-bottom: 0;
}
.popWin-req .req-bd .form-line .intxt {
	border: 1px solid #d8d8d8;
    height: 18px;
    line-height: 18px;
    padding: 8px 10px;
    width: 218px;
}
.popWin-req .req-bd .form-line .intxt-s {
	width: 93px;
}
.popWin-req .form-line .btn-getVerifyCode{	
	background-color: #f4f4f4;
	display: inline-block;
	border: 1px solid #ddd;
	color: #333;
	height: 34px;
	line-height: 34px;
	padding: 0;
	width: 113px;
	text-align:center;
	vertical-align:top;
}
.popWin-req .form-line .btn-getVerifyCode:hover {
	text-decoration: none;
}
.popWin-req .req-bd .form-line .select {
	width: 113px;
	border-color: #d8d8d8;
}
.popWin-req .req-bd .form-line .select dt {
	height: 34px;
	line-height: 34px;
	background-position: right center;
}
.popWin-req .req-bd .form-line .select dt a{
	height: 32px;
	line-height: 32px;
	padding-left: 9px;
	color: #666;
}
.popWin-req .req-bd .form-line .select dd {
	top: 34px;
}
.popWin-req .req-bd .btn-submit {
    background-color: #F25618;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: "Microsoft YaHei","Microsoft JhengHei",STHeiti,MingLiu;
    font-size: 14px;
    height: 44px;
	line-height: 44px;
    text-align: center;
    width: 133px;
}
.popWin-req .req-bd .btn-submit:hover {
    background-color: #E7691E;
	text-decoration: none;
	color: #fff;
}
.custom-gallery {
	display: none;
	position: absolute;
	width: 800px;
	height: 600px;
}
.custom-gallery .view {
	position: relative;
	width: 800px;
	height: 600px;
	overflow: hidden;
}
.custom-gallery ul {
	position: absolute;
	height: 600px;
}
.custom-gallery ul li {
	float: left;
	position: relative;
	width: 800px;
	height: 600px;
	line-height: 100%;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}
.custom-gallery ul li .relate {
	display: inline-block;
	height: 600px;
	line-height: 600px;
	width: 1px;
	overflow: hidden;
	margin-right: -1px;
	vertical-align: middle;
}
.custom-gallery ul li img {
	display: inline-block;
	vertical-align: middle;
	max-width: 800px;
	max-height: 600px;
}
.ie6 .custom-gallery ul li img {
	_ie6max : expression(this.offsetHeight>600||this.offsetWidth>800 ? ((this.offsetHeight/this.offsetWidth<0.75)?this.style.width="800px":this.style.height="600px") : "");
}
.custom-gallery .abtns{
	position:absolute;
	top:50%;
	width:100%;
	height:0;
	margin-top:-23px;
	overflow:hidden;
	z-index: 3;
}
.custom-gallery .abtns-show{
	height:auto;
	overflow:visible;
}
.custom-gallery .abtns-hide{
	height:0;
	overflow:hidden;
}
.custom-gallery .abtn{
	position:absolute;
	display:block;
	top:0;
	text-indent:0;
	height:46px;
	width:46px;
	background-image:none;
}
.custom-gallery .abtn span{
	position:absolute;
	display:block;
	width:99px;
	height:166px;
	background:url(../Nest/img/abtns.png) 0 0 no-repeat;
}
.custom-gallery .aleft{
	left:10px;
}
.custom-gallery .aleft span{
	left:0;
	top:0;
	text-indent:-60px;
	overflow:hidden;
}
.custom-gallery .aleft:hover span{
	top:-60px;
}
.custom-gallery .agrayleft span,
.custom-gallery .agrayleft:hover span{
	top:-120px;
	cursor:forbidden;
}
.custom-gallery .aright{
	right:10px;
}
.custom-gallery .aright span{
	left:-53px;
	top:0;
}
.custom-gallery .aright:hover span{
	top:-60px;
}
.custom-gallery .agrayright span,
.custom-gallery .agrayright:hover span{
	top:-120px;
	cursor:forbidden;
}
