<?xml version="1.0" encoding="utf-8"?>
<dbOperations>
  <dbCommand name="LoadEventLogs" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT TOP 1000 [AppEventLogID]
      ,[Category]
      ,[Level]
      ,[Sender]
      ,[Message]
      ,[Detail]
      ,[HostName]
      ,[Url]
      ,[ClientIP]
      ,[EventTime]
      FROM [NHH_LOG].[dbo].[AppEventLogs] 
      WHERE EventTime>=@EventTime
      ORDER BY AppEventLogID DESC
      ]]>
    </commandText>
    <parameters>
      <param name="@EventTime" dbType="DateTime"></param>
    </parameters>
  </dbCommand>
  
  <!--报表 KPI报表-->
  <dbCommand name="Report.KPIReport" commandType="Text">
    <commandText>
      <![CDATA[
      Select PU.UnitID,
	          PU.UnitNumber,
	          PU.BuildingID,
	          PU.BuildingName,
	          PU.ProjectID,
	          PU.FloorID,
	          PU.FloorNumber,
	          PU.UnitType AS UnitTypeID,
	          PU.UnitTypeName,
	          PU.UnitAera,
	          PU.BizTypeID,
	          PU.BizTypeName,
	          PU.BizCategoryID,
	          PU.BizCategoryName,
	          C.ContractID,
	          C.ContractStatus,
	          C.ContractStatusName,
	          C.UnitArea AS SignedArea,
	          C.DecorationLength,
	          C.DecorationEndDate,
	          C.BrandID,
	          C.BrandName,
	          C.ContractLength,
	          C.ContractEndDate,
	          0 As RentFree,
	          0 As MgmtFree,
	          '' As RentMode
      From View_Report_Project_Unit(Nolock) as PU
      Left join View_Report_Contract(Nolock) as C ON PU.UnitID=C.UnitID
      Where PU.ProjectID=@ProjectId
      ]]>
    </commandText>
    <parameters>
      <param name="@ProjectId" dbType="Int32" />
    </parameters>
  </dbCommand>
  
  <!--报表 报修响应时间-->
  <dbCommand name="Report.Repair.AcceptMinute" commandType="Text">
    <commandText>
      <![CDATA[
      Select @Count=Count(RepairID) From Repair With(Nolock)
      Where Status=1 And ProjectID=@ProjectId And AcceptTime Between @StartTime And @EndTime

      ;With T1 as (
      Select 
	      ROW_NUMBER() Over(Order by A.RepairId) as RowNumber,
	      DateDiff(MINUTE, A.RequestTime, A.AcceptTime) as MinuteNum,
	      A.RepairID,
	      A.RequestUserName,
	      A.RequestTime,
	      A.RequestDesc,
	      A.AcceptUserName,
	      A.AcceptTime,
	      A.RepairUserName,
	      A.RepairStartTime,
	      A.RepairFinishTime,
	      B.Speed,
	      B.Quality,
	      B.Attitude,
	      C.MerchantID,
	      D.BriefName
      From Repair A With(Nolock)
	      Left Join Repair_Comment B With(Nolock) on A.RepairID = B.RepairID
	      Left Join Merchant_Store C With(Nolock) on A.StoreID = C.StoreID
	      Left Join Merchant D With(Nolock) on C.MerchantID = D.MerchantID
      where A.Status=1 And A.ProjectID=@ProjectId And A.AcceptTime Between @StartTime and @EndTime)
      Select * From T1 Where RowNumber Between (@PageIndex-1)*@PageSize and (@PageSize*@PageIndex)
      ]]>
    </commandText>
    <parameters>
      <param name="@Count" dbType="Int32" direction="Output" />
      <param name="@ProjectId" dbType="Int32" />
      <param name="@StartTime" dbType="DateTime" />
      <param name="@EndTime" dbType="DateTime" />
      <param name="@PageSize" dbType="Int32" />
      <param name="@PageIndex" dbType="Int32" />
    </parameters>
  </dbCommand>

  <!--图表 报修响应时间 周-->
  <dbCommand name="Chart.Repair.AcceptMinute.Week" commandType="Text">
    <commandText>
      <![CDATA[
      With T1 as (Select DATEDIFF(MINUTE,R.RequestTime,R.AcceptTime) As MinuteNum,
	                        DATEDIFF(WEEK,AcceptTime,@EndTime) as WeekNum,
	                        E.CompanyID,
	                        C.BriefName
                  From Repair(Nolock) as R                  
                  Inner join Sys_User(Nolock) as U On R.AcceptUserID=U.UserID
				          Inner join Employee(Nolock) as E on U.EmployeeID=E.EmployeeID
                  Inner join Company(Nolock) as C on E.CompanyID=C.CompanyID
                  Where R.Status=1 And R.ProjectId=@ProjectId And R.AcceptTime Between @StartTime And @EndTime)

      Select CompanyID,BriefName,WeekNum,AVG(MinuteNum) as MinuteNum From T1
      Group by CompanyID,BriefName,WeekNum
      ]]>
    </commandText>
    <parameters>
      <param name="@ProjectId" dbType="Int32" />
      <param name="@StartTime" dbType="DateTime" />
      <param name="@EndTime" dbType="DateTime" />
    </parameters>
  </dbCommand>

  <!--报表 报修处置时间-->
  <dbCommand name="Report.Repair.RepairMinute" commandType="Text">
    <commandText>
      <![CDATA[
      Select @Count=Count(RepairID) From Repair With(Nolock)
      Where Status=1 And ProjectID=@ProjectId And AcceptTime Between @StartTime And @EndTime

      ;With T1 as (
      Select 
	      ROW_NUMBER() Over(Order by A.RepairId) as RowNumber,
	      DateDiff(MINUTE, A.RepairStartTime, A.RepairFinishTime) as MinuteNum,
	      A.RepairID,
	      A.RequestUserName,
	      A.RequestTime,
	      A.RequestDesc,
	      A.AcceptUserName,
	      A.AcceptTime,
	      A.RepairUserName,
	      A.RepairStartTime,
	      A.RepairFinishTime,
	      B.Speed,
	      B.Quality,
	      B.Attitude,
	      C.MerchantID,
	      D.BriefName
      From Repair A With(Nolock)
	      Left Join Repair_Comment B With(Nolock) on A.RepairID = B.RepairID
	      Left Join Merchant_Store C With(Nolock) on A.StoreID = C.StoreID
	      Left Join Merchant D With(Nolock) on C.MerchantID = D.MerchantID
      where A.Status=1 And A.ProjectID=@ProjectId And A.AcceptTime Between @StartTime and @EndTime)
      Select * From T1 Where RowNumber Between (@PageIndex-1)*@PageSize and (@PageSize*@PageIndex)
      ]]>
    </commandText>
    <parameters>
      <param name="@Count" dbType="Int32" direction="Output" />
      <param name="@ProjectId" dbType="Int32" />
      <param name="@StartTime" dbType="DateTime" />
      <param name="@EndTime" dbType="DateTime" />
      <param name="@PageSize" dbType="Int32" />
      <param name="@PageIndex" dbType="Int32" />
    </parameters>
  </dbCommand>

  <!--图表 报修处置时间 周-->
  <dbCommand name="Chart.Repair.RepairMinute.Week" commandType="Text">
    <commandText>
      <![CDATA[
      With T1 as (Select DATEDIFF(MINUTE,R.RequestTime,R.AcceptTime) As MinuteNum,
	                        DATEDIFF(WEEK,AcceptTime,@EndTime) as WeekNum,
	                        E.CompanyID,
	                        C.BriefName
                  From Repair(Nolock) as R                  
                  Inner join Sys_User(Nolock) as U On R.AcceptUserID=U.UserID
				          Inner join Employee(Nolock) as E on U.EmployeeID=E.EmployeeID
                  Inner join Company(Nolock) as C on E.CompanyID=C.CompanyID
                  Where R.Status=1 And R.ProjectId=@ProjectId And R.AcceptTime Between @StartTime And @EndTime)

      Select CompanyID,BriefName,WeekNum,AVG(MinuteNum) as MinuteNum From T1
      Group by CompanyID,BriefName,WeekNum
      ]]>
    </commandText>
    <parameters>
      <param name="@ProjectId" dbType="Int32" />
      <param name="@StartTime" dbType="DateTime" />
      <param name="@EndTime" dbType="DateTime" />
    </parameters>
  </dbCommand>

  <!--报表 投诉响应时间-->
  <dbCommand name="Report.Complaint.AcceptMinute" commandType="Text">
    <commandText>
      <![CDATA[
      Select @Count=Count(ComplaintID) From Complaint With(Nolock)
      Where Status=1 And ProjectID=@ProjectId And AcceptTime Between @StartTime And @EndTime

      ;With T1 as (
      Select 
	      ROW_NUMBER() Over(Order by A.ComplaintID) as RowNumber,
	      DateDiff(MINUTE, A.RequestTime, A.AcceptTime) as MinuteNum,
	      A.ComplaintID,
	      A.RequestUserName,
	      A.RequestTime,
	      A.RequestDesc,
	      A.AcceptUserName,
	      A.AcceptTime,
	      A.ServiceUserName,
	      A.ServiceStartTime,
	      A.ServiceFinishTime,
	      B.Speed,
	      B.Quality,
	      B.Attitude,
	      D.MerchantID,
	      D.BriefName
      From Complaint A With(Nolock)
	      Left Join Complaint_Comment B With(Nolock) on A.ComplaintID = B.ComplaintID
	      Left Join Merchant D With(Nolock) on A.MerchantID = D.MerchantID
      where A.Status=1 And A.ProjectID=@ProjectId And A.AcceptTime Between @StartTime and @EndTime)
      Select * From T1 Where RowNumber Between (@PageIndex-1)*@PageSize and (@PageSize*@PageIndex)
      ]]>
    </commandText>
    <parameters>
      <param name="@Count" dbType="Int32" direction="Output" />
      <param name="@ProjectId" dbType="Int32" />
      <param name="@StartTime" dbType="DateTime" />
      <param name="@EndTime" dbType="DateTime" />
      <param name="@PageSize" dbType="Int32" />
      <param name="@PageIndex" dbType="Int32" />
    </parameters>
  </dbCommand>

  <!--图表 投诉响应时间 周-->
  <dbCommand name="Chart.Complaint.AcceptMinute.Week" commandType="Text">
    <commandText>
      <![CDATA[
      With T1 as (Select DATEDIFF(MINUTE,R.RequestTime,R.AcceptTime) As MinuteNum,
	                        DATEDIFF(WEEK,AcceptTime,@EndTime) as WeekNum,
	                        E.CompanyID,
	                        C.BriefName
                  From Complaint(Nolock) as R                  
                  Inner join Sys_User(Nolock) as U On R.AcceptUserID=U.UserID
				          Inner join Employee(Nolock) as E on U.EmployeeID=E.EmployeeID
                  Inner join Company(Nolock) as C on E.CompanyID=C.CompanyID
                  Where R.Status=1 And R.ProjectId=@ProjectId And R.AcceptTime Between @StartTime And @EndTime)

      Select CompanyID,BriefName,WeekNum,AVG(MinuteNum) as MinuteNum From T1
      Group by CompanyID,BriefName,WeekNum
      ]]>
    </commandText>
    <parameters>
      <param name="@ProjectId" dbType="Int32" />
      <param name="@StartTime" dbType="DateTime" />
      <param name="@EndTime" dbType="DateTime" />
    </parameters>
  </dbCommand>

  <!--报表 投诉处置时间-->
  <dbCommand name="Report.Complaint.ServiceMinute" commandType="Text">
    <commandText>
      <![CDATA[
      Select @Count=Count(ComplaintID) From Complaint With(Nolock)
      Where Status=1 And ProjectID=@ProjectId And AcceptTime Between @StartTime And @EndTime

      ;With T1 as (
      Select 
	      ROW_NUMBER() Over(Order by A.ComplaintID) as RowNumber,
	      DateDiff(MINUTE, A.ServiceStartTime, A.ServiceFinishTime) as MinuteNum,
	      A.ComplaintID,
	      A.RequestUserName,
	      A.RequestTime,
	      A.RequestDesc,
	      A.AcceptUserName,
	      A.AcceptTime,
	      A.ServiceUserName,
	      A.ServiceStartTime,
	      A.ServiceFinishTime,
	      B.Speed,
	      B.Quality,
	      B.Attitude,
	      D.MerchantID,
	      D.BriefName
      From Complaint A With(Nolock)
	      Left Join Complaint_Comment B With(Nolock) on A.ComplaintID = B.ComplaintID
	      Left Join Merchant D With(Nolock) on A.MerchantID = D.MerchantID
      where A.Status=1 And A.ProjectID=@ProjectId And A.AcceptTime Between @StartTime and @EndTime)
      Select * From T1 Where RowNumber Between (@PageIndex-1)*@PageSize and (@PageSize*@PageIndex)
      ]]>
    </commandText>
    <parameters>
      <param name="@Count" dbType="Int32" direction="Output" />
      <param name="@ProjectId" dbType="Int32" />
      <param name="@StartTime" dbType="DateTime" />
      <param name="@EndTime" dbType="DateTime" />
      <param name="@PageSize" dbType="Int32" />
      <param name="@PageIndex" dbType="Int32" />
    </parameters>
  </dbCommand>

  <!--图表 投诉处置时间 周-->
  <dbCommand name="Chart.Complaint.ServiceMinute.Week" commandType="Text">
    <commandText>
      <![CDATA[
      With T1 as (Select DATEDIFF(MINUTE,R.ServiceStartTime,R.ServiceFinishTime) As MinuteNum,
	                        DATEDIFF(WEEK,AcceptTime,@EndTime) as WeekNum,
	                        E.CompanyID,
	                        C.BriefName
                  From Complaint(Nolock) as R                  
                  Inner join Sys_User(Nolock) as U On R.AcceptUserID=U.UserID
				          Inner join Employee(Nolock) as E on U.EmployeeID=E.EmployeeID
                  Inner join Company(Nolock) as C on E.CompanyID=C.CompanyID
                  Where R.Status=1 And R.ServiceFinishTime Is Not Null And R.ProjectId=@ProjectId And R.AcceptTime Between @StartTime And @EndTime)

      Select CompanyID,BriefName,WeekNum,AVG(MinuteNum) as MinuteNum From T1
      Group by CompanyID,BriefName,WeekNum
      ]]>
    </commandText>
    <parameters>
      <param name="@ProjectId" dbType="Int32" />
      <param name="@StartTime" dbType="DateTime" />
      <param name="@EndTime" dbType="DateTime" />
    </parameters>
  </dbCommand>
</dbOperations>