<?xml version="1.0" encoding="utf-8"?>
<OperationLogConfig>
  <entity name="Project" alias="项目管理_项目信息" key="ProjectID">
    <column name="ProjectName" alias="项目名称 "/>
    <column name="RegionID" alias="区域 "/>
    <column name="ProvinceID" alias="省 "/>
    <column name="CityID" alias="市 "/>
    <column name="AddressLine" alias="地址 "/>
    <column name="AddressInfo" alias="位置 "/>
    <column name="Zipcode" alias="邮编 "/>
    <column name="Longitude" alias="经度 "/>
    <column name="Latitude" alias="纬度 "/>
    <column name="GroundArea" alias="地上建筑面积 "/>
    <column name="UndergroundArea" alias="地下建筑面积 "/>
    <column name="TotalArea" alias="总建筑面积 "/>
    <column name="RenderingFileName" alias="效果图文件路径 "/>
    <column name="PlanSummary" alias="规划定位 "/>
    <column name="PlanHighlight" alias="规划亮点 "/>
    <column name="ParkingLotNum" alias="停车位数量 "/>
    <column name="AdPointNum" alias="广告位数量 "/>
    <column name="MultiBizPositionNum" alias="多种经营点位数量 "/>
    <column name="GrandOpeningDate" alias="开业日期 "/>
    <column name="Stage" alias="阶段 "/>
    <column name="ManageCompanyID" alias="管理公司ID "/>
    <column name="BuildingNum" alias="楼宇数量 "/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Project_Building" alias="项目管理_楼宇信息" key="BuildingID">
    <column name="ProjectID" alias="项目ID "/>
    <column name="BuildingName" alias="楼宇名称 "/>
    <column name="GroundFloorNum" alias="地面楼层数量 "/>
    <column name="UndergroundFloorNum" alias="地下楼层数量 "/>
    <column name="BuildingGroundArea" alias="地面建筑面积 "/>
    <column name="BuildingUndergroundArea" alias="地下建筑面积 "/>
    <column name="TotalConstructionArea" alias="总建筑面积 "/>
    <column name="TotalRentArea" alias="总计租面积 "/>
    <column name="TotalRentUnit" alias="总出租单元数量 "/>
    <column name="PlanSummary" alias="规划定位 "/>
    <column name="PlanHighlight" alias="规划亮点 "/>
    <column name="RenderingFileName" alias="效果图路径 "/>
    <column name="ContractStore" alias="入驻商家 "/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Project_Floor" alias="项目管理_楼层信息" key="FloorID">
    <column name="BuildingID" alias="楼宇ID "/>
    <column name="ProjectID" alias="项目ID "/>
    <column name="FloorMapFileName" alias="平面图路径 "/>
    <column name="FloorNumber" alias="楼层序号 "/>
    <column name="FloorName" alias="楼层名称 "/>
    <column name="FloorDescription" alias="楼层说明 "/>
    <column name="TotalRentArea" alias="总计租面积 "/>
    <column name="TotalRentUnit" alias="总计租单元数 "/>
    <column name="ContractRentArea" alias="签约面积 "/>
    <column name="ContractRentUnit" alias="签约单元数 "/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Project_Unit" alias="项目管理_铺位信息" key="UnitID">
    <column name="ProjectID" alias="项目ID "/>
    <column name="BuildingID" alias="楼宇ID "/>
    <column name="FloorID" alias="楼层ID "/>
    <column name="UnitNumber" alias="商铺号 "/>
    <column name="UnitAera" alias="计租面积 "/>
    <column name="UnitType" alias="商铺类型 "/>
    <column name="BizTypeID" alias="经营业态 "/>
    <column name="BizCategoryID" alias="经营品类 "/>
    <column name="StoreID" alias="当前商户ID "/>
    <column name="ContractStatus" alias="签约状态 "/>
    <column name="ContractEndDate" alias="租约到期时间 "/>
    <column name="UnitMapFileName" alias="平面图位置  "/>
    <column name="FloorMapLocation" alias="坐标 "/>
    <column name="Tag" alias="标签 "/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Merchant" alias="招商管理_商户信息" key="MerchantID">
    <column name="MerchantType" alias="商户类型"/>
    <column name="MerchantCode" alias="商户编码 "/>
    <column name="BriefName" alias="商户简称 "/>
    <column name="MerchantName" alias="商户名称 "/>
    <column name="ProvinceID" alias="省 "/>
    <column name="CityID" alias="市 "/>
    <column name="AddressLine" alias="地址 "/>
    <column name="Zipcode" alias="邮编 "/>
    <column name="LicenseID" alias="营业执照注册号 "/>
    <column name="RegisterProvinceID" alias="注册省 "/>
    <column name="RegisterCityID" alias="注册市 "/>
    <column name="RegisterAddressLine" alias="注册地址 "/>
    <column name="OwnerName" alias="法人姓名 "/>
    <column name="ContactName" alias="联系人姓名 "/>
    <column name="ContactIDNumber" alias="联系人身份证号 "/>
    <column name="ContactEmail" alias="联系人邮箱 "/>
    <column name="ContactPhone" alias="联系人电话 "/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Contract" alias="营运管理_租约信息" key="ContractID">
    <column name="ContractCode" alias="租约编号 "/>
    <column name="ContractType" alias="租约类型，铺位、多经点位 "/>
    <column name="ContractStatus" alias="租约状态 "/>
    <column name="ProjectID" alias="项目ID "/>
    <column name="ContractArea" alias="租约面积 "/>
    <column name="ContractUnitRent" alias="租约租金单价 "/>
    <column name="ContractMgmtFee" alias="租约物业费单价 "/>
    <column name="MerchantID" alias="商户ID  "/>
    <column name="SignerName" alias="签约人姓名 "/>
    <column name="SignerIDNumber" alias="签约人身份证号 "/>
    <column name="SignerPhone" alias="签约人联系电话 "/>
    <column name="ManageCompanyID" alias="管理公司ID "/>
    <column name="OperatorName" alias="经办人姓名 "/>
    <column name="OperatorPhone" alias="经办人联系电话 "/>
    <column name="ContractLength" alias="合同期（天） "/>
    <column name="ContractStartDate" alias="合同起始日期 "/>
    <column name="ContractEndDate" alias="合同结束日期 "/>
    <column name="RentFreeLength" alias="免租期（天） "/>
    <column name="RentFreeStartDate" alias="免租开始日期 "/>
    <column name="RentFreeEndDate" alias="免租结束日期 "/>
    <column name="DecorationLength" alias="装修期（天） "/>
    <column name="DecorationStartDate" alias="装修开始日期 "/>
    <column name="DecorationEndDate" alias="装修结束日期 "/>
    <column name="DecorationMgmtFee" alias="装修管理费 "/>
    <column name="DecorationBond" alias="装修保证金 "/>
    <column name="Condition" alias="交付标准 "/>
    <column name="BidBond" alias="履约保证金（租金） "/>
    <column name="ManageBond" alias="物业保证金 "/>
    <column name="QualityBond" alias="质量保证金 "/>
    <column name="ParkingLotNum" alias="停车位 "/>
    <column name="ParkingLotMemo" alias="停车位备注 "/>
    <column name="AdPointNum" alias="广告位 "/>
    <column name="AdPointMemo" alias="广告位备注 "/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Merchant_Revenue" alias="营运管理_日销售额" key="RevenueID">
    <column name="StoreID" alias="店铺ID"/>
    <column name="MerchantID" alias="商户ID"/>
    <column name="StartDate" alias="开始时间"/>
    <column name="EndDate" alias="结束时间"/>
    <column name="Revenue" alias="营业额"/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Complaint" alias="物业管理_投诉信息" key="ComplaintID">
    <column name="ComplaintType" alias="投诉类型 "/>
    <column name="ProjectID" alias="项目ID "/>
    <column name="MerchantID" alias="商户ID  "/>
    <column name="StoreID" alias="店铺ID "/>
    <column name="RequestSrcType" alias="投诉来源 "/>
    <column name="RequestUserID" alias="投诉人ID "/>
    <column name="RequestUserName" alias="投诉人姓名 "/>
    <column name="RequestTarget" alias="投诉对象 "/>
    <column name="RequestDesc" alias="投诉情况描述 "/>
    <column name="RequestTime" alias="投诉时间 "/>
    <column name="AcceptUserID" alias="受理人ID "/>
    <column name="AcceptUserName" alias="受理人姓名 "/>
    <column name="AcceptTime" alias="受理时间 "/>
    <column name="Important " alias="重要程度 "/>
    <column name="EstimatedFinishTime" alias="预计完成时间 "/>
    <column name="InvestigationDesc" alias="调查记录 "/>
    <column name="ServiceUserID" alias="客服ID "/>
    <column name="ServiceUserName" alias="客服姓名 "/>
    <column name="ServiceStartTime" alias="开始时间 "/>
    <column name="ServiceFinishTime" alias="完成时间 "/>
    <column name="ServiceResult" alias="处理结果 "/>
    <column name="ServiceDesc" alias="处理结果描述 "/>
    <column name="ComplaintStatus" alias="投诉状态 "/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Repair" alias="物业管理_维修信息" key="RepairID">
    <column name="RepairType" alias="维修类型 "/>
    <column name="ProjectID" alias="项目ID "/>
    <column name="StoreID" alias="店铺ID "/>
    <column name="FloorID" alias="楼层ID "/>
    <column name="UnitID" alias="铺位ID "/>
    <column name="IsCommon" alias="是否公共区域 "/>
    <column name="Location" alias="位置描述 "/>
    <column name="RequestSrcType" alias="报修来源 "/>
    <column name="RequestDesc" alias="报修情况描述 "/>
    <column name="RequestUserID" alias="报修人ID "/>
    <column name="RequestUserName" alias="报修人姓名 "/>
    <column name="RequestTime" alias="报修时间 "/>
    <column name="AcceptUserID" alias="受理人ID "/>
    <column name="AcceptUserName" alias="受理人姓名 "/>
    <column name="AcceptTime" alias="受理时间 "/>
    <column name="Important " alias="重要程度 "/>
    <column name="QuoteAmount" alias="维修报价 "/>
    <column name="EstimatedFinishTime" alias="预计完成时间 "/>
    <column name="RepairUserID" alias="维修人ID "/>
    <column name="RepairUserName" alias="维修人姓名 "/>
    <column name="RepairStartTime" alias="维修开始时间 "/>
    <column name="RepairFinishTime" alias="维修完成时间 "/>
    <column name="RepairResult" alias="维修结果 "/>
    <column name="RepairDesc" alias="维修结果描述 "/>
    <column name="RepairStatus" alias="维修状态 "/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Utility_Bill" alias="物业管理_水电抄表" key="BillID">
    <column name="UnitName"  alias="铺位名称"/>
    <column name="StartDate" alias="抄表开始时间"/>
    <column name="EndDate" alias="抄表结束时间"/>
    <column name="PrevNumber" alias="上期抄表数"/>
    <column name="CurNumber" alias="本期抄表数"/>
    <column name="UseNumber" alias="实用表数"/>
    <column name="UnitPrice" alias="单价"/>
    <column name="BillAmount" alias="抄表金额"/>
    <column name="OperatorID" alias="抄表人ID"/>
    <column name="OperatorName" alias="抄表人姓名"/>
    <column name="Remark" alias="备注"/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Campaign" alias="企划管理_企划活动" key="CampaignID">
    <column name="CampaignCode" alias="活动编号 "/>
    <column name="CampaignName" alias="活动名称 "/>
    <column name="CampaignType" alias="活动类型 "/>
    <column name="CampaignBrief" alias="活动简介 "/>
    <column name="CampaignStatus" alias="活动状态 "/>
    <column name="ProjectID" alias="所属项目 "/>
    <column name="Location" alias="活动地点 "/>
    <column name="StartDate" alias="开始时间 "/>
    <column name="EndDate" alias="结束时间 "/>
    <column name="Budget" alias="预算 "/>
    <column name="PlanUserID" alias="策划负责人ID "/>
    <column name="PlanUserName" alias="策划负责人姓名 "/>
    <column name="PlanTime" alias="策划时间 "/>
    <column name="RunUserID" alias="执行负责人ID "/>
    <column name="RunUserName" alias="执行负责人姓名 "/>
    <column name="RunTime" alias="执行时间 "/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Brand" alias="基础数据_品牌" key="BrandID">
    <column name="BrandName" alias="名称"/>
    <column name="BrandLevel" alias="级次"/>
    <column name="BizTypeID" alias="业态"/>
    <column name="BizCategoryID" alias="品类"/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Company" alias="基础数据_公司" key="CompanyID">
    <column name="BriefName" alias="简称"/>
    <column name="CompanyName" alias="名称"/>
    <column name="CompanyType" alias="类型"/>
    <column name="OwnerCompanyID" alias="母公司"/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Department" alias="基础数据_部门" key="DepartmentID">
    <column name="DepartmentName" alias="名称"/>
    <column name="Phone" alias="电话"/>
    <column name="ManagerID" alias="主管"/>
    <column name="CompanyID" alias="公司"/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Employee" alias="基础数据_员工" key="EmployeeID">
    <column name="EmployeeName" alias="姓名"/>
    <column name="Title" alias="职务"/>
    <column name="Email" alias="邮箱"/>
    <column name="Moblie" alias="手机"/>
    <column name="Phone" alias="电话"/>
    <column name="SupervisorID" alias="主管"/>
    <column name="DepartmentID" alias="部门"/>
    <column name="CompanyID" alias="公司"/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Sys_User" alias="系统配置_用户" key="UserID">
    <column name="Password" alias="密码"/>
    <column name="LastLoginTime" alias="登录时间"/>
    <column name="LastLoginIP" alias="登录地址"/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Sys_Role" alias="系统配置_角色" key="RoleID">
    <column name="RoleName" alias="名称"/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Sys_Function" alias="系统配置_功能" key="FunctionID">
    <column name="FunctionKey" alias="键值"/>
    <column name="FunctionName" alias="名称"/>
    <column name="FunctionDescription" alias="描述"/>
    <column name="Status" alias="状态"/>
  </entity>
  <entity name="Sys_Menu" alias="系统配置_菜单" key="MenuID">
    <column name="SeqNo" alias="序号"/>
    <column name="MenuIcon" alias="图标"/>
    <column name="MenuName" alias="名称"/>
    <column name="MenuUrl" alias="链接"/>
    <column name="MenuDescription" alias="描述"/>
    <column name="ParentID" alias="父菜单"/>
    <column name="Status" alias="状态"/>
  </entity>
</OperationLogConfig>
