<?xml version="1.0" encoding="utf-8"?>
<ParamConfig>
  <!--日志数据库连接-->
  <param name="logging:database">NHHLog</param>
  <!--系统日志功能是否启用，默认TRUE-->
  <param name="logging:app_enabled">true</param>
  <param name="logging:app_level">debug</param>
  <!--操作日志功能是否启用，默认TRUE-->
  <param name="logging:opt_enabled">true</param>
  <!--接口日志功能是否启用，默认TRUE-->
  <param name="logging:api_enabled">true</param>  
  
  <!--用户验证方式，None、NHH、Froms-->
  <param name="auth:type">Froms</param>
  <!--是否启用用户功能权限验证-->
  <param name="auth:enabled">true</param>
  <!--超级账号ID-->
  <param name="auth:admin">10000</param>

  <!--网站默认页面-->
  <param name="website:default">/desktop/default</param>
  <!--图片服务器站点-->
  <param name="ImageSite">http://file.st.nhhims.com/</param>

  <!--系统账号初始密码-->
  <param name="InitPassword">123456</param>
  <!--PDF生成程序地址-->
  <param name="PdfProgramPath">C:/Program Files/wkhtmltopdf/bin/wkhtmltopdf.exe</param>
  <!--微信维修模板Id-->
  <!--正式环境-->
  <!--<param name="RepairTemplateId">7n93ztZglUoKAOkYIfOI3BnovXtG1G4SwQs0EDmMS0c</param>-->
  <!--测试环境-->
  <param name="RepairTemplateId">020mWC7YpLRpcJyDL5lOz7z4j5JfeXdc7J-DOJ1JAGg</param>

  <!--微信投诉模板Id-->
  <!--正式环境-->
  <!--<param name="ComplaintTemplateId">51uMf7VVxvmfZEL9N1E4Miu_NutdxZB_DV64QciE9II</param>-->
  <!--测试环境-->
  <param name="ComplaintTemplateId">Z8yyXd4uUgiKaifqXod2kilEhVQvsDNJn3KIidSL--w</param>

  <!--微信特殊单据审核通知模板Id-->
  <!--正式环境-->
  <!--<param name="DocumentTemplateId">c3F6OcKQc7_DpIWX2jEKDKIcMF7DsaLFpmnoM1bF6MI</param>-->
  <!--测试环境-->
  <param name="DocumentTemplateId">kNo7T2bHmFM58akAYhW8qi-n3FX-eTPBMx3XlFf3JyY</param>

  <!--唐小二维修详情链接-->
  <param name="RepairDetailLink">http://h5.st.nhhtang.com/management/{0}/detail</param>

  <!--唐小二投诉详情-->
  <param name="ComplaintDetailLink">http://h5.st.nhhtang.com/complaints/{0}/detail</param>

  <!--唐小二-出门申请单详情-->
  <param name="DocumentOutLink">http://h5.st.nhhtang.com/requests/{0}/edit_out</param>

  <!--唐小二-装修申请单详情-->
  <param name="DocumentDecoraterLink">http://h5.st.nhhtang.com/requests/{0}/edit_decorater</param>

  <!--唐小二-延时经营申请单详情-->
  <param name="DocumentDelayLink">http://h5.st.nhhtang.com/requests/{0}/edit_delay</param>

  <!--智能平台及文件站点所在域-->
  <param name="domain">nhhims.com</param>

  <!--微信商户证照审核通知模板Id-->
  <!--正式环境-->
  <!--<param name="DocumentTemplateId">c3F6OcKQc7_DpIWX2jEKDKIcMF7DsaLFpmnoM1bF6MI</param>-->
  <!--测试环境-->
  <param name="MerchantLicenseTemplateId">kNo7T2bHmFM58akAYhW8qi-n3FX-eTPBMx3XlFf3JyY</param>

  <!--唐小二证照详情-->
  <param name="MerchantLicenseDetailLink">http://h5.st.nhhtang.com/attch?_t=1451271007034</param>

</ParamConfig>
