<?xml version="1.0" encoding="utf-8"?>
<ServiceConfig>

  <!--公共服务-->
  <service name="CommonService" service="NHH.Service.Common.IService.ICommonService,NHH.Service.Common" class="NHH.Service.Common.CommonService,NHH.Service.Common"/>
  <service name="ProjectCommonService" service="NHH.Service.Common.IService.IProjectCommonService,NHH.Service.Common" class="NHH.Service.Common.ProjectCommonService,NHH.Service.Common"/>
  <service name="CompanyCommonService" service="NHH.Service.Common.IService.ICompanyCommonService,NHH.Service.Common" class="NHH.Service.Common.CompanyCommonService,NHH.Service.Common"/>
  <service name="EmployeeCommonService" service="NHH.Service.Common.IService.IEmployeeCommonService,NHH.Service.Common" class="NHH.Service.Common.EmployeeCommonService,NHH.Service.Common"/>
  <service name="ProjectUnitCommonService" service="NHH.Service.Common.IService.IProjectUnitCommonService,NHH.Service.Common" class="NHH.Service.Common.ProjectUnitCommonService,NHH.Service.Common"/>
  <service name="UserCommonService" service="NHH.Service.Common.IService.IUserCommonService,NHH.Service.Common" class="NHH.Service.Common.UserCommonService,NHH.Service.Common"/>
  <service name="MerchantCommonService" service="NHH.Service.Common.IService.IMerchantCommonService,NHH.Service.Common" class="NHH.Service.Common.MerchantCommonService,NHH.Service.Common"/>
  <service name="ContractCommonService" service="NHH.Service.Common.IService.IContractCommonService,NHH.Service.Common" class="NHH.Service.Common.ContractCommonService,NHH.Service.Common"/>
  <service name="ReportService" service="NHH.Service.Common.IService.IReportService,NHH.Service.Common" class="NHH.Service.Common.ReportService,NHH.Service.Common"/>
  <service name="ReportConfigService" service="NHH.Service.Common.IService.IReportConfigService,NHH.Service.Common" class="NHH.Service.Common.ReportConfigService,NHH.Service.Common"/>
  <service name="ReportConfigCommonService" service="NHH.Service.Common.IService.IReportConfigCommonService,NHH.Service.Common" class="NHH.Service.Common.ReportConfigCommonService,NHH.Service.Common"/>

  <!--基础数据服务-->
  <service name="CompanyService" service="NHH.Service.Common.IService.ICompanyService,NHH.Service.Common" class="NHH.Service.Common.CompanyService,NHH.Service.Common"/>
  <service name="DepartmentService" service="NHH.Service.Common.IService.IDepartmentService,NHH.Service.Common" class="NHH.Service.Common.DepartmentService,NHH.Service.Common"/>
  <service name="EmployeeService" service="NHH.Service.Common.IService.IEmployeeService,NHH.Service.Common" class="NHH.Service.Common.EmployeeService,NHH.Service.Common"/>
  <service name="BrandService" service="NHH.Service.Common.IService.IBrandService,NHH.Service.Common" class="NHH.Service.Common.BrandService,NHH.Service.Common"/>

  <!--项目管理服务-->
  <service name="ProjectInfoService" service="NHH.Service.Project.IService.IProjectInfoService,NHH.Service.Project" class="NHH.Service.Project.ProjectInfoService,NHH.Service.Project"/>
  <service name="ProjectMgmtService" service="NHH.Service.Project.IService.IProjectMgmtService,NHH.Service.Project" class="NHH.Service.Project.ProjectMgmtService,NHH.Service.Project"/>
  <service name="ProjectUnitService" service="NHH.Service.Project.IService.IProjectUnitService,NHH.Service.Project" class="NHH.Service.Project.ProjectUnitService,NHH.Service.Project"/>
  <service name="KioskService" service="NHH.Service.Project.IService.IKioskService,NHH.Service.Project" class="NHH.Service.Project.KioskService,NHH.Service.Project"/>
  <service name="AdPointService" service="NHH.Service.Project.IService.IAdPointService,NHH.Service.Project" class="NHH.Service.Project.AdPointService,NHH.Service.Project"/>
  <service name="FloorMapService" service="NHH.Service.Project.IService.IFloorMapService,NHH.Service.Project" class="NHH.Service.Project.FloorMapService,NHH.Service.Project"/>
  <service name="ProjectUnitInitService" service="NHH.Service.Project.IService.IProjectUnitInitService,NHH.Service.Project" class="NHH.Service.Project.ProjectUnitInitService,NHH.Service.Project"/>
  <service name="ProjectUnitAdjustService" service="NHH.Service.Project.IService.IProjectUnitAdjustService,NHH.Service.Project" class="NHH.Service.Project.ProjectUnitAdjustService,NHH.Service.Project"/>

  <!--招商筹划服务-->
  <service name="ProjectPlanService" service="NHH.Service.Plan.IService.IProjectPlanService,NHH.Service.Plan" class="NHH.Service.Plan.ProjectPlanService,NHH.Service.Plan"/>
  <service name="ProjectPlanMgmtService" service="NHH.Service.Plan.IService.IProjectPlanMgmtService,NHH.Service.Plan" class="NHH.Service.Plan.ProjectPlanMgmtService,NHH.Service.Plan"/>
  <service name="MerchantLicenseService" service="NHH.Service.Plan.IService.IMerchantLicenseService,NHH.Service.Plan" class="NHH.Service.Plan.MerchantLicenseService,NHH.Service.Plan"/>
  <service name="ProjectBatchService" service="NHH.Service.Plan.IService.IProjectBatchService,NHH.Service.Plan" class="NHH.Service.Plan.ProjectBatchService,NHH.Service.Plan"/>
  <service name="ProjectBatchUnitService" service="NHH.Service.Plan.IService.IProjectBatchUnitService,NHH.Service.Plan" class="NHH.Service.Plan.ProjectBatchUnitService,NHH.Service.Plan"/>
  <service name="ProjectUnitRequestService" service="NHH.Service.Plan.IService.IProjectUnitRequestService,NHH.Service.Plan" class="NHH.Service.Plan.ProjectUnitRequestService,NHH.Service.Plan"/>

  <!--商户管理服务-->
  <service name="MerchantService" service="NHH.Service.Merchant.IService.IMerchantService,NHH.Service.Merchant" class="NHH.Service.Merchant.MerchantService,NHH.Service.Merchant"/>
  <service name="MerchantUserService" service="NHH.Service.Merchant.IService.IMerchantUserService,NHH.Service.Merchant" class="NHH.Service.Merchant.MerchantUserService,NHH.Service.Merchant"/>
  <service name="MerchantUserPaperService" service="NHH.Service.Merchant.IService.IMerchantUserPaperService,NHH.Service.Merchant" class="NHH.Service.Merchant.MerchantUserPaperService,NHH.Service.Merchant"/>
  <service name="UnitRequestService" service="NHH.Service.Merchant.IService.IUnitRequestService,NHH.Service.Merchant" class="NHH.Service.Merchant.UnitRequestService,NHH.Service.Merchant"/>
  <service name="KioskRequestService" service="NHH.Service.Merchant.IService.IKioskRequestService,NHH.Service.Merchant" class="NHH.Service.Merchant.KioskRequestService,NHH.Service.Merchant"/>
  <service name="AttachmentService" service="NHH.Service.Merchant.IService.IAttachmentService,NHH.Service.Merchant" class="NHH.Service.Merchant.AttachmentService,NHH.Service.Merchant"/>
  <service name="MerchantBrandService" service="NHH.Service.Merchant.IService.IMerchantBrandService,NHH.Service.Merchant" class="NHH.Service.Merchant.MerchantBrandService,NHH.Service.Merchant"/>
  <service name="MerchantRevenueService" service="NHH.Service.Merchant.IService.IMerchantRevenueService,NHH.Service.Merchant" class="NHH.Service.Merchant.MerchantRevenueService,NHH.Service.Merchant"/>
  <service name="MerchantStoreService" service="NHH.Service.Merchant.IService.IMerchantStoreService,NHH.Service.Merchant" class="NHH.Service.Merchant.MerchantStoreService,NHH.Service.Merchant"/>
  <service name="StoreMeterService" service="NHH.Service.Merchant.IService.IStoreMeterService,NHH.Service.Merchant" class="NHH.Service.Merchant.StoreMeterService,NHH.Service.Merchant"/>
  

  <!--合同管理服务-->
  <service name="ContractService.ProjectUnitService" service="NHH.Service.Contract.IService.IProjectUnitService,NHH.Service.Contract" class="NHH.Service.Contract.ProjectUnitService,NHH.Service.Contract"/>
  <service name="ContractService.ContractInfoService" service="NHH.Service.Contract.IService.IContractInfoService,NHH.Service.Contract" class="NHH.Service.Contract.ContractInfoService,NHH.Service.Contract"/>
  <service name="ContractService.ContractMgmtService" service="NHH.Service.Contract.IService.IContractMgmtService,NHH.Service.Contract" class="NHH.Service.Contract.ContractMgmtService,NHH.Service.Contract"/>
  <service name="ContractService.RequestInfoService" service="NHH.Service.Contract.IService.IRequestInfoService,NHH.Service.Contract" class="NHH.Service.Contract.RequestInfoService,NHH.Service.Contract"/>
  <service name="ContractService.RequestMgmtService" service="NHH.Service.Contract.IService.IRequestMgmtService,NHH.Service.Contract" class="NHH.Service.Contract.RequestMgmtService,NHH.Service.Contract"/>
  <service name="ContractService.SupplementaryService" service="NHH.Service.Contract.IService.ISupplementaryService,NHH.Service.Contract" class="NHH.Service.Contract.SupplementaryService,NHH.Service.Contract" />
  <service name="ContractService.DocumentsService" service="NHH.Service.Contract.IService.IDocumentsService,NHH.Service.Contract" class="NHH.Service.Contract.DocumentsService,NHH.Service.Contract" />
  
  <!--入驻意向管理服务-->
  <service name="IntentionService" service="NHH.Service.Operations.IService.IIntentionService,NHH.Service.Operations" class="NHH.Service.Operations.IntentionService,NHH.Service.Operations"/>

  <!--物业管理服务-->
  <service name="RepairService" service="NHH.Service.Estate.IService.IRepairService,NHH.Service.Estate" class="NHH.Service.Estate.RepairService,NHH.Service.Estate"/>
  <service name="ComplaintService" service="NHH.Service.Estate.IService.IComplaintService,NHH.Service.Estate" class="NHH.Service.Estate.ComplaintService,NHH.Service.Estate"/>
  <service name="RepairCommentService" service="NHH.Service.Estate.IService.IRepairCommentService,NHH.Service.Estate" class="NHH.Service.Estate.RepairCommentService,NHH.Service.Estate"/>
  <service name="ComplaintCommentService" service="NHH.Service.Estate.IService.IComplaintCommentService,NHH.Service.Estate" class="NHH.Service.Estate.ComplaintCommentService,NHH.Service.Estate"/>
  <service name="UtilityBillService" service="NHH.Service.Estate.IService.IUtilityBillService,NHH.Service.Estate" class="NHH.Service.Estate.UtilityBillService,NHH.Service.Estate"/>


  <!--企划管理-->
  <service name="CampaignService" service="NHH.Service.Campaign.IService.ICampaignService,NHH.Service.Campaign" class="NHH.Service.Campaign.CampaignService,NHH.Service.Campaign"/>
  
  <!--消息管理-->
  <service name="MessageService" service="NHH.Service.Message.IService.IMessageService,NHH.Service.Message" class="NHH.Service.Message.MessageService,NHH.Service.Message"/>
  <service name="UserMessageService" service="NHH.Service.Message.IService.IUserMessageService,NHH.Service.Message" class="NHH.Service.Message.UserMessageService,NHH.Service.Message"/>
  <service name="MerchantMessageService" service="NHH.Service.Message.IService.IMerchantMessageService,NHH.Service.Message" class="NHH.Service.Message.MerchantMessageService,NHH.Service.Message"/>
  <service name="EmployeeMessageService" service="NHH.Service.Message.IService.IEmployeeMessageService,NHH.Service.Message" class="NHH.Service.Message.EmployeeMessageService,NHH.Service.Message"/>
  
  <!--报表管理服务-->
  <service name="KPIReportService" service="NHH.Service.Report.IService.IKPIReportService,NHH.Service.Report" class="NHH.Service.Report.KPIReportService,NHH.Service.Report"/>
  <service name="TopReportService" service="NHH.Service.Report.IService.ITopReportService,NHH.Service.Report" class="NHH.Service.Report.TopReportService,NHH.Service.Report"/>
  <service name="RepairReportService" service="NHH.Service.Report.IService.IRepairReportService,NHH.Service.Report" class="NHH.Service.Report.RepairReportService,NHH.Service.Report"/>
  <service name="ComplaintReportService" service="NHH.Service.Report.IService.IComplaintReportService,NHH.Service.Report" class="NHH.Service.Report.ComplaintReportService,NHH.Service.Report"/>
  <service name="RentReportService" service="NHH.Service.Report.IService.IRentReportService,NHH.Service.Report" class="NHH.Service.Report.RentReportService,NHH.Service.Report"/>

  <!--图表管理服务-->
  <service name="KPIChartService" service="NHH.Service.Chart.IService.IKPIChartService,NHH.Service.Chart" class="NHH.Service.Chart.KPIChartService,NHH.Service.Chart"/>
  <service name="RepairChartService" service="NHH.Service.Chart.IService.IRepairChartService,NHH.Service.Chart" class="NHH.Service.Chart.RepairChartService,NHH.Service.Chart"/>
  <service name="ComplaintChartService" service="NHH.Service.Chart.IService.IComplaintChartService,NHH.Service.Chart" class="NHH.Service.Chart.ComplaintChartService,NHH.Service.Chart"/>

  <!--系统权限服务-->
  <service name="AccountService" service="NHH.Service.Permission.IService.IAccountService,NHH.Service.Permission" class="NHH.Service.Permission.AccountService,NHH.Service.Permission"/>
  <service name="PermissionService" service="NHH.Service.Permission.IService.IPermissionService,NHH.Service.Permission" class="NHH.Service.Permission.PermissionService,NHH.Service.Permission"/>
  <service name="MenuService" service="NHH.Service.Permission.IService.IMenuService,NHH.Service.Permission" class="NHH.Service.Permission.MenuService,NHH.Service.Permission"/>

  <!--系统配置-->
  <service name="DictionaryService" service="NHH.Service.Configure.IService.IDictionaryService,NHH.Service.Configure" class="NHH.Service.Configure.DictionaryService,NHH.Service.Configure"/>
  <service name="SysFunctionService" service="NHH.Service.Configure.IService.ISysFunctionService,NHH.Service.Configure" class="NHH.Service.Configure.SysFunctionService,NHH.Service.Configure"/>
  <service name="SysMenuService" service="NHH.Service.Configure.IService.ISysMenuService,NHH.Service.Configure" class="NHH.Service.Configure.SysMenuService,NHH.Service.Configure"/>
  <service name="SysRoleService" service="NHH.Service.Configure.IService.ISysRoleService,NHH.Service.Configure" class="NHH.Service.Configure.SysRoleService,NHH.Service.Configure"/>
  <service name="SysRoleMenuService" service="NHH.Service.Configure.IService.ISysRoleMenuService,NHH.Service.Configure" class="NHH.Service.Configure.SysRoleMenuService,NHH.Service.Configure"/>
  <service name="SysRoleFunctionService" service="NHH.Service.Configure.IService.ISysRoleFunctionService,NHH.Service.Configure" class="NHH.Service.Configure.SysRoleFunctionService,NHH.Service.Configure"/>
  <service name="SysUserService" service="NHH.Service.Configure.IService.ISysUserService,NHH.Service.Configure" class="NHH.Service.Configure.SysUserService,NHH.Service.Configure"/>
  <service name="ProjectBizConfigService" service="NHH.Service.Configure.IService.IProjectBizConfigService,NHH.Service.Configure" class="NHH.Service.Configure.ProjectBizConfigService,NHH.Service.Configure"/>

  <!--系统日志-->
  <service name="LoggingService" service="NHH.Service.Logging.IService.ILoggingService,NHH.Service.Logging" class="NHH.Service.Logging.LoggingService,NHH.Service.Logging"/>
  
  <!--官网服务-->
  <service name="NewsService" service="NHH.Service.Official.IService.INewsService,NHH.Service.Official" class="NHH.Service.Official.NewsService,NHH.Service.Official"/>
  <service name="BannerService" service="NHH.Service.Official.IService.IBannerService,NHH.Service.Official" class="NHH.Service.Official.BannerService,NHH.Service.Official"/>
  <service name="NHHCGService" service="NHH.Service.Official.IService.INHHCGService,NHH.Service.Official" class="NHH.Service.Official.NHHCGService,NHH.Service.Official"/>

</ServiceConfig>
