@model NHH.Models.Contract.ContractUnitInfo

<h4 class="lighter">铺位信息</h4>
<dl class="form-content form-content-edit form-row-comb">
    <dd>
        <label>项目名称：</label>
        @Model.ProjectName
    </dd>
    <dd>
        <label>商铺：</label>
        @foreach (var unit in Model.UnitList)
        {
            <span class="list-comb">@unit.FloorName @unit.UnitNumber</span>
        }
    </dd>
    <dd>
        <label>计租面积：</label>
        @Model.ContractArea.ToString("#,##0.00") <span>平方米</span>
    </dd>
</dl>
<div class="clear"></div>