@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@using NHH.Models.Project.ProjectCompany.Department
@model DeptDetailModel

<h5>详情页面</h5>
<form>
    <fieldset>
        <legend>部门信息</legend>
        <ul>
            <li>部门ID: @Model.DepartmentID</li>
            <li>部门名称:@Model.DepartmentName</li>
            <li>所属公司:@Model.CompanyID</li>
            <li>InUser:InDate:@Model.InDate</li>
            <li>EditUser:InUser:@Model.InUser</li>
            <li>EditDate:@Model.EditDate</li>
            <li>EditUse:@Model.EditUser</li>
        </ul>
    </fieldset>
</form>*@