<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--分钟-->
    <add key="interval" value="3"/>

    <add key="CampaignDetailLink" value="http://h5.liangyali.com/planning/{0}"/>
    <!--微信企划消息模板Id-->
    <add key="CampaignTemplateId" value="lYnlqk1PZI1xGn2p-wuLHDQNGZ2znR1FD0cm-fjMfD0"/>

    <!--获取tocken的api-->
    <add key="wechat_api_url" value="https://api.weixin.qq.com/cgi-bin/"/>
    <!--上传文件api-->
    <add key="wechat_file_url" value="http://file.api.weixin.qq.com/cgi-bin/"/>

    <!--获取用户的api-->
    <add key="wechat_api_getUser_url" value="https://api.weixin.qq.com/cgi-bin/user/get"/>

    <!--图片服务器站点-->
    <add key="ImageSite" value="http://file.st.nhhims.com/" />

  </appSettings>

  <connectionStrings>
    <add name="NhhConnStr" connectionString="Data Source=192.168.1.107;Initial Catalog=NHH;Persist Security Info=True;User ID=nhh;Password=nhh@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>